.progress_type4 { height: 8px; padding: 1px; background: #444; box-shadow: 0 1px 0 rgba(255, 255, 255, .6), inset 0 1px 4px rgba(0, 0, 0, .6); border-radius: 6px; }
.progress_type4 .progressbar { width: 30%; height: 8px; border-radius: 6px; }
.progress_type4 .progressbar.colorblue {
	background: #8cd7f7;
	background: -moz-linear-gradient(top, #8cd7f7 0%, #56bff3 100%); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #8cd7f7 0%,#56bff3 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #8cd7f7 0%,#56bff3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8cd7f7 0%,#56bff3 100%); /* IE 10+ */
	background: linear-gradient(top, #8cd7f7 0%,#56bff3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cd7f7', endColorstr='#56bff3',GradientType=0 ); /* IE6-9 */
}
.progress_type4 .progressbar.colorgreen {
	background: #b0ea77;
	background: -moz-linear-gradient(top, #b0ea77 0%, #80de49 100%); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #b0ea77 0%,#80de49 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #b0ea77 0%,#80de49 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b0ea77 0%,#80de49 100%); /* IE 10+ */
	background: linear-gradient(top, #b0ea77 0%,#80de49 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cd7f7', endColorstr='#80de49',GradientType=0 ); /* IE6-9 */
}
.progress_type4 .progressbar.colororange {
	background: #ffb62c;
	background: -moz-linear-gradient(top, #ffb62c 0%, #ff8a1c 100%); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #ffb62c 0%,#ff8a1c 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #ffb62c 0%,#ff8a1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffb62c 0%,#ff8a1c 100%); /* IE 10+ */
	background: linear-gradient(top, #ffb62c 0%,#ff8a1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb62c', endColorstr='#ff8a1c',GradientType=0 ); /* IE6-9 */
}
.progress_type4 .progressbar.colorpink {
	background: #e578be;
	background: -moz-linear-gradient(top, #e578be 0%, #d54a96 100%); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #e578be 0%,#d54a96 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #e578be 0%,#d54a96 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e578be 0%,#d54a96 100%); /* IE 10+ */
	background: linear-gradient(top, #e578be 0%,#d54a96 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e578be', endColorstr='#d54a96',GradientType=0 ); /* IE6-9 */
}
.progress_type4 .progressbar.colorgrey {
	background: #cbcbcb;
	background: -moz-linear-gradient(top, #cbcbcb 0%, #ababab 100%); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #cbcbcb 0%,#ababab 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #cbcbcb 0%,#ababab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cbcbcb 0%,#ababab 100%); /* IE 10+ */
	background: linear-gradient(top, #cbcbcb 0%,#ababab 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#ababab',GradientType=0 ); /* IE6-9 */
}