.progress_type1 { height: 16px; padding: 1px; background: #333; box-shadow: 0 1px 0 rgba(255, 255, 255, .6), inset 0 3px 1px rgba(0, 0, 0, .1); border-radius: 10px; }
.progress_type1 .progressbar { width: 30%; height: 14px; border-radius: 10px; }
.progress_type1 .progressbar.colorblue { box-shadow: 0 3px 0 #5e91b7, 0 -1px 0 #5e91b7, 1px 0 0 #5e91b7, -1px 0 0 #5e91b7, inset 0 1px 0 rgba(255, 255, 255, .4); }
.progress_type1 .progressbar.colorgreen { box-shadow: 0 3px 0 #699847, 0 -1px 0 #699847, 1px 0 0 #699847, -1px 0 0 #699847, inset 0 1px 0 rgba(255, 255, 255, .4); }
.progress_type1 .progressbar.colororange { box-shadow: 0 3px 0 #a27132, 0 -1px 0 #a27132, 1px 0 0 #a27132, -1px 0 0 #a27132, inset 0 1px 0 rgba(255, 255, 255, .4); }
.progress_type1 .progressbar.colorpink { box-shadow: 0 3px 0 #7b3b65, 0 -1px 0 #7b3b65, 1px 0 0 #7b3b65, -1px 0 0 #7b3b65, inset 0 1px 0 rgba(255, 255, 255, .4); }
.progress_type1 .progressbar.colorgrey { box-shadow: 0 3px 0 #747474, 0 -1px 0 #747474, 1px 0 0 #747474, -1px 0 0 #747474, inset 0 1px 0 rgba(255, 255, 255, .4); }

.progress_type2 { height: 16px; padding: 1px; background: #333; box-shadow: 0 1px 0 rgba(255, 255, 255, .6), inset 0 1px 1px rgba(0, 0, 0, .15); border-radius: 10px; }
.progress_type2 .progressbar { width: 30%; height: 16px; border-radius: 10px; }
.progress_type2 .progressbar.colorblue { box-shadow: 0 1px 0 #5e91b7, 0 -1px 0 #5e91b7, 1px 0 0 #5e91b7, -1px 0 0 #5e91b7, inset 0 1px 0 rgba(255, 255, 255, .4); }
.progress_type2 .progressbar.colorgreen { box-shadow: 0 1px 0 #699847, 0 -1px 0 #699847, 1px 0 0 #699847, -1px 0 0 #699847, inset 0 1px 0 rgba(255, 255, 255, .4); }
.progress_type2 .progressbar.colororange { box-shadow: 0 1px 0 #a27132, 0 -1px 0 #a27132, 1px 0 0 #a27132, -1px 0 0 #a27132, inset 0 1px 0 rgba(255, 255, 255, .4); }
.progress_type2 .progressbar.colorpink { box-shadow: 0 1px 0 #7b3b65, 0 -1px 0 #7b3b65, 1px 0 0 #7b3b65, -1px 0 0 #7b3b65, inset 0 1px 0 rgba(255, 255, 255, .4); }
.progress_type2 .progressbar.colorgrey { box-shadow: 0 1px 0 #747474, 0 -1px 0 #747474, 1px 0 0 #747474, -1px 0 0 #747474, inset 0 1px 0 rgba(255, 255, 255, .4); }

.progress_type3 { height: 10px; background: #333; box-shadow: 0 1px 0 rgba(0, 0, 0, .1); border-radius: 6px; }
.progress_type3 .progressbar { width: 30%; height: 10px; box-shadow: inset 0 0 1px rgba(0, 0, 0, .8); border-radius: 6px; }

.progress_type4 { height: 8px; padding: 1px; background: #333; box-shadow: 0 1px 0 rgba(255, 255, 255, .6), inset 0 1px 4px rgba(0, 0, 0, .6); border-radius: 6px; }
.progress_type4 .progressbar { width: 30%; height: 8px; border-radius: 6px; }

.progress_type5 { height: 6px; padding: 3px; background: #333; box-shadow: 0 1px 0 rgba(255, 255, 255, .6), inset 0 1px 2px rgba(0, 0, 0, .5); border-radius: 6px; }
.progress_type5 .progressholder { height: 6px; background: #666; box-shadow: 0 1px 0 rgba(255, 255, 255, .3), inset 0 1px 2px rgba(0, 0, 0, .5); border-radius: 6px; }
.progress_type5 .progressbar { width: 30%; height: 6px; box-shadow: 0 1px 2px rgba(0, 0, 0, .4), inset 0 1px 0 rgba(255, 255, 255, .4); border-radius: 6px; }

.progress_type6 { height: 18px; padding: 1px; background: #333; box-shadow: 0 1px 0 rgba(255, 255, 255, .6)); }
.progress_type6 .progressbar { width: 30%; height: 18px; box-shadow: inset 1px 0 0 rgba(255, 255, 255, .6), inset 0 1px 0 rgba(255, 255, 255, .6); }

.progress_type7 { height: 20px; background: #333; box-shadow: 0 1px 0 rgba(255, 255, 255, .6), inset 0 1px 1px rgba(0, 0, 0, .15); -moz-transform: skewX(-30deg); -webkit-transform: skewX(-30deg); -o-transform: skewX(-30deg); -ms-transform: skewX(-30deg); transform: skewX(-30deg); }
.progress_type7 .progressbar { width: 30%; height: 20px; }
.progress_type7 .progressbar.colorblue { box-shadow: inset 0 1px 0 #5e91b7, inset 0 -1px 0 #5e91b7, inset 1px 0 0 #5e91b7, inset -2px 0 0 #5e91b7, inset 2px 0 0 rgba(255, 255, 255, .6), inset 0 2px 0 rgba(255, 255, 255, .6); }
.progress_type7 .progressbar.colorgreen { box-shadow: inset 0 1px 0 #699847, inset 0 -1px 0 #699847, inset 1px 0 0 #699847, inset -2px 0 0 #699847, inset 2px 0 0 rgba(255, 255, 255, .6), inset 0 2px 0 rgba(255, 255, 255, .6); }
.progress_type7 .progressbar.colororange { box-shadow: inset 0 1px 0 #a27132, inset 0 -1px 0 #a27132, inset 1px 0 0 #a27132, inset -2px 0 0 #a27132, inset 2px 0 0 rgba(255, 255, 255, .6), inset 0 2px 0 rgba(255, 255, 255, .6); }
.progress_type7 .progressbar.colorpink { box-shadow: inset 0 1px 0 #7b3b65, inset 0 -1px 0 #7b3b65, inset 1px 0 0 #7b3b65, inset -2px 0 0 #7b3b65, inset 2px 0 0 rgba(255, 255, 255, .6), inset 0 2px 0 rgba(255, 255, 255, .6); }
.progress_type7 .progressbar.colorgrey { box-shadow: inset 0 1px 0 #747474, inset 0 -1px 0 #747474, inset 1px 0 0 #747474, inset -2px 0 0 #747474, inset 2px 0 0 rgba(255, 255, 255, .6), inset 0 2px 0 rgba(255, 255, 255, .6); }

.progress_type8 { height: 18px; padding: 1px; background: #333; box-shadow: 0 1px 0 rgba(255, 255, 255, .6)); }
.progress_type8 .progressbar { width: 30%; height: 18px; }
.progress_type8 .progressbar.colorblue { 
	background: #71cbf5;
	background: -moz-linear-gradient(0, #71cbf5 80%, transparent 0); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(0, #71cbf5 80%, transparent 0); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(0, #71cbf5 80%, transparent 0); /* Opera 11.10+ */
	background: -ms-linear-gradient(0, #71cbf5 80%, transparent 0); /* IE 10+ */
	background: linear-gradient(0, #71cbf5 80%, transparent 0); /* W3C */
	background-size: 5px;
}
.progress_type8 .progressbar.colorgreen { 
	background: #98e460;
	background: -moz-linear-gradient(0, #98e460 80%, transparent 0); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(0, #98e460 80%, transparent 0); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(0, #98e460 80%, transparent 0); /* Opera 11.10+ */
	background: -ms-linear-gradient(0, #98e460 80%, transparent 0); /* IE 10+ */
	background: linear-gradient(0, #98e460 80%, transparent 0); /* W3C */
	background-size: 5px;
}
.progress_type8 .progressbar.colororange { 
	background: #ffa024;
	background: -moz-linear-gradient(0, #ffa024 80%, transparent 0); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(0, #ffa024 80%, transparent 0); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(0, #ffa024 80%, transparent 0); /* Opera 11.10+ */
	background: -ms-linear-gradient(0, #ffa024 80%, transparent 0); /* IE 10+ */
	background: linear-gradient(0, #ffa024 80%, transparent 0); /* W3C */
	background-size: 5px;
}
.progress_type8 .progressbar.colorpink { 
	background: #dd61aa;
	background: -moz-linear-gradient(0, #dd61aa 80%, transparent 0); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(0, #dd61aa 80%, transparent 0); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(0, #dd61aa 80%, transparent 0); /* Opera 11.10+ */
	background: -ms-linear-gradient(0, #dd61aa 80%, transparent 0); /* IE 10+ */
	background: linear-gradient(0, #dd61aa 80%, transparent 0); /* W3C */
	background-size: 5px;
}
.progress_type8 .progressbar.colorgrey { 
	background: #bbb;
	background: -moz-linear-gradient(0, #bbb 80%, transparent 0); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(0, #bbb 80%, transparent 0); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(0, #bbb 80%, transparent 0); /* Opera 11.10+ */
	background: -ms-linear-gradient(0, #bbb 80%, transparent 0); /* IE 10+ */
	background: linear-gradient(0, #bbb 80%, transparent 0); /* W3C */
	background-size: 5px;
}

.progress_type9 { height: 16px; padding: 2px; background: #999; box-shadow: 0 1px 0 rgba(255, 255, 255, .6), inset 0 1px 2px rgba(0, 0, 0, .5); }
.progress_type9 .progressholder { height: 12px; padding: 2px; background: #666; box-shadow: 0 1px 0 rgba(255, 255, 255, .3), inset 0 1px 2px rgba(0, 0, 0, .5); }
.progress_type9 .progressbar { width: 30%; height: 12px; box-shadow: 0 1px 0 rgba(0, 0, 0, .4), inset 0 1px 0 rgba(255, 255, 255, .4); }
.progress_type9 .progressbar.colorblue {
	background: #71cbf5;
	background: -moz-linear-gradient(0, #71cbf5 97%, transparent 0); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(0, #71cbf5 97%, transparent 0); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(0, #71cbf5 97%, transparent 0); /* Opera 11.10+ */
	background: -ms-linear-gradient(0, #71cbf5 97%, transparent 0); /* IE 10+ */
	background: linear-gradient(0, #71cbf5 97%, transparent 0); /* W3C */
	background-size: 19px;
}
.progress_type9 .progressbar.colorgreen {
	background: #98e460;
	background: -moz-linear-gradient(0, #98e460 97%, transparent 0); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(0, #98e460 97%, transparent 0); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(0, #98e460 97%, transparent 0); /* Opera 11.10+ */
	background: -ms-linear-gradient(0, #98e460 97%, transparent 0); /* IE 10+ */
	background: linear-gradient(0, #98e460 97%, transparent 0); /* W3C */
	background-size: 19px;
}
.progress_type9 .progressbar.colororange {
	background: #ffa024;
	background: -moz-linear-gradient(0, #ffa024 97%, transparent 0); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(0, #ffa024 97%, transparent 0); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(0, #ffa024 97%, transparent 0); /* Opera 11.10+ */
	background: -ms-linear-gradient(0, #ffa024 97%, transparent 0); /* IE 10+ */
	background: linear-gradient(0, #ffa024 97%, transparent 0); /* W3C */
	background-size: 19px;
}
.progress_type9 .progressbar.colorpink {
	background: #dd61aa;
	background: -moz-linear-gradient(0, #dd61aa 97%, transparent 0); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(0, #dd61aa 97%, transparent 0); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(0, #dd61aa 97%, transparent 0); /* Opera 11.10+ */
	background: -ms-linear-gradient(0, #dd61aa 97%, transparent 0); /* IE 10+ */
	background: linear-gradient(0, #dd61aa 97%, transparent 0); /* W3C */
	background-size: 19px;
}
.progress_type9 .progressbar.colorgrey {
	background: #bbb;
	background: -moz-linear-gradient(0, #bbb 97%, transparent 0); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(0, #bbb 97%, transparent 0); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(0, #bbb 97%, transparent 0); /* Opera 11.10+ */
	background: -ms-linear-gradient(0, #bbb 97%, transparent 0); /* IE 10+ */
	background: linear-gradient(0, #bbb 97%, transparent 0); /* W3C */
	background-size: 19px;
}

.progress_type10 { position: relative; height: 16px; padding: 2px; background: #333; box-shadow: 0 1px 0 rgba(255, 255, 255, .6)); }
.progress_type10 span { position: absolute; top: 0; left: 0; width: 100%; margin: 0; font-size: 10px; line-height: 20px; text-transform: uppercase; color: #fff; text-shadow: 0 1px 0 rgba(0, 0, 0, .4); text-align: center; -moz-user-select: none; -webkit-user-select: none; cursor: default; }
.progress_type10 .progressbar { width: 30%; height: 16px; }
.progress_type10 .progressbar.colorblue { background: #71cbf5; }
.progress_type10 .progressbar.colorgreen { background: #98e460; }
.progress_type10 .progressbar.colororange { background: #ffa024; }
.progress_type10 .progressbar.colorpink { background: #dd61aa; }
.progress_type10 .progressbar.colorgrey { background: #bbb; }

/* These classes are used by Types 1-7 */
.colorblue {
	background: #8cd7f7;
	background: -moz-linear-gradient(top, #8cd7f7 0%, #56bff3 100%); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #8cd7f7 0%,#56bff3 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #8cd7f7 0%,#56bff3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8cd7f7 0%,#56bff3 100%); /* IE 10+ */
	background: linear-gradient(top, #8cd7f7 0%,#56bff3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cd7f7', endColorstr='#56bff3',GradientType=0 ); /* IE6-9 */
}
.colorgreen {
	background: #b0ea77;
	background: -moz-linear-gradient(top, #b0ea77 0%, #80de49 100%); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #b0ea77 0%,#80de49 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #b0ea77 0%,#80de49 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b0ea77 0%,#80de49 100%); /* IE 10+ */
	background: linear-gradient(top, #b0ea77 0%,#80de49 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cd7f7', endColorstr='#80de49',GradientType=0 ); /* IE6-9 */
}
.colororange {
	background: #ffb62c;
	background: -moz-linear-gradient(top, #ffb62c 0%, #ff8a1c 100%); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #ffb62c 0%,#ff8a1c 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #ffb62c 0%,#ff8a1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffb62c 0%,#ff8a1c 100%); /* IE 10+ */
	background: linear-gradient(top, #ffb62c 0%,#ff8a1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb62c', endColorstr='#ff8a1c',GradientType=0 ); /* IE6-9 */
}
.colorpink {
	background: #e578be;
	background: -moz-linear-gradient(top, #e578be 0%, #d54a96 100%); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #e578be 0%,#d54a96 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #e578be 0%,#d54a96 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e578be 0%,#d54a96 100%); /* IE 10+ */
	background: linear-gradient(top, #e578be 0%,#d54a96 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e578be', endColorstr='#d54a96',GradientType=0 ); /* IE6-9 */
}
.colorgrey {
	background: #cbcbcb;
	background: -moz-linear-gradient(top, #cbcbcb 0%, #ababab 100%); /* Firefox 3.6+ */
	background: -webkit-linear-gradient(top, #cbcbcb 0%,#ababab 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(top, #cbcbcb 0%,#ababab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cbcbcb 0%,#ababab 100%); /* IE 10+ */
	background: linear-gradient(top, #cbcbcb 0%,#ababab 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#ababab',GradientType=0 ); /* IE6-9 */
}