#footer {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
background-image: -moz-linear-gradient(bottom, #cecece 0%, #f3f3f3 4.27%, #e5e5e5 97.49%, #cecece 100%);
background-image: -o-linear-gradient(bottom, #cecece 0%, #f3f3f3 4.27%, #e5e5e5 97.49%, #cecece 100%);
background-image: -webkit-linear-gradient(bottom, #cecece 0%, #f3f3f3 4.27%, #e5e5e5 97.49%, #cecece 100%);
background-image: linear-gradient(bottom, #cecece 0%, #f3f3f3 4.27%, #e5e5e5 97.49%, #cecece 100%);
	box-shadow: 0 0 5px #000;
	z-index: 2;
	padding: 0 35px;
	padding-left: 40px;
	text-align: left;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;

}
	#footer p {
		font-size: 12px;
		color: #666;
	}
#footerLogo {
	float: right;
	max-width: 230px;
	margin-right: -30px;
	margin-top: 30px;
	opacity: .3;
}