@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);


body{
margin:0;
padding:0;
color:#000;
background:#fff url(images/bg.png) repeat-x top;
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}
strong {
	background:  none;
	padding: 0;
}
#wrap{
width:960px;/*960*/
margin: 0 auto;
padding:0;
}
	#nav {
		float: left;
		width: 650px;
		padding-top: 3px;
	}
	#nav ul { list-style: none }
	#nav ul li {
		float: left;
		display: block;
		padding-bottom: 0;
		margin-bottom: 0;
		height: 30px;
	}
	#nav ul li a {
		float: left;
		display: block;
		text-decoration:  none;
		color: #fff;
		height: 50px;
		text-shadow: 0 1px 1px #000;
		padding: 10px 15px;
		padding-top: 18px;
		padding-bottom: 0;
		margin-bottom: 0;

	}
		#nav ul li a:hover {
			background: url(images/nav-hover.png) repeat-x top;
		}
	#nav ul li strong {
		float: left;
		display: block;
		text-decoration:  none;
		color: #fff;
		text-shadow: 0 1px 1px #000;
		padding: 10px;
		padding-top: 18px;
		padding-right: 25px;
		padding-bottom: 0;
	}
	#topbutton {
		float: right;
		height: 41px;
		display: block;
		padding: 10px 20px;
		padding-top: 19px;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 18px;
		text-shadow: 0 1px 1px #6f1b0a;
		margin-top:8px;
		padding-bottom: 0;
		background: url(images/topbutton.png) repeat-x top;
	}
	#mainheadline {
		clear: both;
		height: 417px;
		background: url(images/header.png) no-repeat center top;
	}
		#mainheadline h1 {
			text-align: center;
			padding-top: 290px;
			font-size: 38px;
			letter-spacing: -1px;
		}
		#mainheadline h3 {
			text-align: center;
			font-size: 18px;
			font-weight:  normal;
			text-transform: uppercase;
		}
	.subheadline {
		clear: both;
		padding: 30px 0;
	}
		.subheadline h1 {
			text-align: center;
			font-size: 38px;
			letter-spacing: -1px;
		}
		.subheadline h3 {
			text-align: center;
			font-size: 18px;
			font-weight:  normal;
			text-transform: uppercase;
		}
	#banner {
		clear: both;
		height: 316px;
		margin-top: 16px;
		margin-bottom: 10px;
		background: url(images/banner.png) no-repeat center top;
	}
	#greenbutton {
		float: left;
		width: 332px;
		margin: 0 20px;
		margin-left: 120px;
		text-align: center;
		padding-top: 19px;
		text-shadow: 0 1px 1px #548237;
		text-decoration:  none;
		color: #fff;
		font-weight: bold;
		font-size: 20px;
		height: 60px;
		background: url(images/greenbutton.png) no-repeat center top;
	}
	#bluebutton {
		float: left;
		width: 332px;
		margin: 0 20px;
		text-align: center;
		padding-top: 19px;
		text-shadow: 0 1px 1px #19587a;
		text-decoration:  none;
		color: #fff;
		font-weight: bold;
		font-size: 20px;
		height: 60px;
		background: url(images/bluebutton.png) no-repeat center top;
	}
	.x-list li {
		list-style: none;
		padding-left: 65px;
		background: url(http://cdn1.iconfinder.com/data/icons/nuvola2/48x48/actions/button_cancel.png) no-repeat left;
	}
	.check-list li {
		list-style: none;
		padding-left: 65px;
		background: url(http://cdn1.iconfinder.com/data/icons/CrystalClear/48x48/actions/agt_action_success.png) no-repeat left;
	}

	