#optin{
position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -280px;
	padding: 30px;
	width:500px;
	text-align:left;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
			background-color: #ffffff;
			-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
			   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
			        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}