#header {
	text-align: center;
	background: #eee;
	box-shadow: 0 0 5px #ccc inset;
	padding: 10px;
}
	#header h1 {
		font-weight: 800;
		letter-spacing: -1px;
		color: #F63E38;
		font-size: 3.3em;
		padding: 10px 30px;
		margin-top: 0;
		text-shadow: 1px 1px 0 #fafafa;
	}
		#header h1 strong {
			font-weight: 800;
			color: #222;
		}
	#header h3 {
		font-weight: 600;
		color: #333;
		background: #fafafa;
		box-shadow: 0 0 5px #ccc;
		border: 1px solid #ccc;
		border-radius: 10px;
		display: block;
		width: 90%;
		margin: 10px auto;
		font-size: 1.7em;
		padding: 10px 30px;
		text-shadow: 1px 1px 0 #fafafa;
	}