body, html {
	background: none transparent !important;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif !important;
}
body {
	opacity: 0;
	padding: 0 1px;
}
.row {
	padding: 0;
}
.container {
	width: 100%;
	padding: 0 5px;
	margin-left: 10px;
	
}
#content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Yep! */
  width: 48%;
  height: 59%;
}

	.header h1 {
		font-weight: 800;
	}
	.header button.btn {
		margin: 0;
	}
.mainContainer {
	background: #fff;
	padding: 0;
	clear: both;
	box-shadow: 0 0 4px #eee;
	border: 1px solid #F0A945;
	position: relative;
	z-index: 9999;
	width: 100%;
	border-radius: 4px;
	border-top-left-radius: 0;
	display: block;
	float: left;
}
.subscribe {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding-bottom: 15px;

}
.innerContent {
	border: 5px solid #fafafa;
	padding: 15px;
	border-radius: 4px;
	padding-top: 0;
	border-top-left-radius: 0;
	width: 100%;
}
.footer {
	max-width: 600px;
	margin-top: 20px;
	text-align: center;
	opacity: .7;
	font-size: 11px;
}
form strong {
	display: block;
	font-size: 16px;
	padding: 10px 0;
}
.btn {
	display: block;
	margin: 10px 0;
	font-size: 15px;
	font-weight: bold;
}
.facebook, .twitter {
	opacity: 0;
}